<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<form action="/" method="GET">
    <input name="city" placeholder="Enter a city name" required>
    <input type="submit" value="Get Forecast">
  </form>

  <ul>
      <li>{{weather.current.temp}}</li>
  </ul>