body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.hourly {
  display: flex;
  flex-wrap: wrap;
}

.hourly-style {
  width: 100px;
  list-style: none;
}